.App {
    background-color: hsl(0, 4%, 19%);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    width: 500px;
    height: 900px;
    padding: 20px;
}
.input-box {
    display: flex;
    flex: 1;
    overflow: auto;
    white-space: nowrap;
}
.input-box::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    text-align: center;
}
.submit-btn {
    height: 5%;
}
.bottom {
    height: 10%;
}
